body {
  font-family: "Quicksand", sans-serif;
  color: #3498db;
  padding: 0;
  margin: 0;
}

textarea {
  color: #3498db;
}

small {
  color: #cccccc;
}

a {
  color: #3498db;
}

div {
  padding: 2rem 0;
}

p {
  -webkit-margin-before: 0.4rem;
  -webkit-margin-after: 0.4rem;
  font-size: 1rem;
}
